@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Fonts */
    --heading-font: 'YoungSerif', serif;
    --body-font: 'Outfit', serif;
    /* Colours */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
}

body {
    font-family: var(--body-font);
    color: var(--dark-charcoal);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: clamp(2.125rem, 2.025rem + 0.5vw, 2.625rem);
    line-height: 1;
    font-weight: 900;
    margin-bottom: 0.625em;
}

em {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.container {
    width: 100%;
    max-width: 1920px;
}

.inner-content-container {
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding-bottom: 2em;
    border-bottom: solid 1px var(--light-grey);
}

.info-section ul,
.info-section ol {
    padding-inline-start: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-section li {
    padding-left: 16px;
}

.highlight-info-section {
    background-color: var(--rose-white);
    padding: 1em;
    border-bottom: none;
    border-radius: .8em;
}

.highlight-info-section h2 {
    color: var(--dark-raspberry);
    font-family: var(--body-font);
    font-size: 20px;
}

.highlight-info-section li::marker {
    color: var(--dark-raspberry);
}
